* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.portfolioContainer {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    // background-color: rgb(148, 218, 218);
    position: relative;
    top: 70px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; // firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
