.listitem {
  width: 225px;
  height: 120px;
  margin-right: 5px;
  color: white;
  background-color: black;
  // overflow: hidden;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .listItemHoverContainer {
    border-radius: 5px;
    position: absolute;
    width: 325px;
    top: -120px;
    left: -50px;
    background-color: black;
    z-index: 20;

    video {
      width: 100%;
      height: 140px;
      object-fit: cover;
      position: absolute;
      top: -140px;
      left: 0;
    }
  }

  &:hover {
    // transform: scale(150%);
    // width: 325px;
    // position: absolute;
    // top: -150px;
    border-radius: 5px;
    z-index: 10;

    img {
      height: 120px;
    }

    .listItemInfo {
      display: flex;
      flex-direction: column;
      padding: 5px;

      .icons {
        display: flex;
        margin-bottom: 10px;

        .icon {
          border: 2px solid white;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          cursor: pointer;
        }
      }

      .itemInfoTop {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color: gray;

        .itemInfoAgeLimit {
          border: 1px solid gray;
          padding: 3px;
          margin: 0 10px;
        }
      }
      .itemInfodesc {
        font-size: 13px;
        margin-bottom: 10px;
      }

      .itemInfogenre {
        font-size: 10px;
        color: lightgray;
      }
    }
  }
}
