.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin: 20px 0;
}

.postWrapper {
  padding-top: 10px;
}

.postTop {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postUserInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.postUsername {
  font-size: 15px;
  font-weight: bold;
}

.postDate {
  font-size: 13px;
}

.postCenter {
  margin-top: 20px;
}

.postText {
  margin-left: 10px;
}

.postImg {
  margin-top: 5px;
  width: 100%;
  object-fit: contain;
  /* max-height: 700px; */
  border-bottom: 1px solid #eee;
}

.postBottom {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid blue;
}

.postBottomLeft {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.likeIcon {
  border-radius: 50%;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

.postBottomRight {
  margin-right: 10px;
}

.postCommentText {
  cursor: pointer;
}

.postBottomButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  border-top: 1px solid #eee;
  /* border-bottom: 1px solid #eee; */
  cursor: pointer;
}
.postBottomButton:hover {
  background-color: #eee;
  border-radius: 5px;
}

.postBottomButton:active {
  background-color: darkgray;
}

.postBottomButton {
  text-align: center;
  width: 100%;
  padding: 12px 0;
}
