body {
  margin: 0;
}
.Navbarcontainer {
  height: 56px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.NavbarLeft {
  display: flex;
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 15px;
  font-weight: bold;
  color: #1877f2;
  cursor: pointer;
}

.searchbar {
  margin-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #eee;
}
.searchIcon {
  color: grey;
  font-size: 20px !important;
  padding-left: 10px;
}
.searchInput {
  border: none;
  width: 70%;
  background-color: inherit;
  padding-left: 10px;
}
.searchInput:focus {
  outline: none;
}

.NavbarCenter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 5;
  text-align: center;
}

.navfeed {
  flex: 1;
  padding: 5px;
  /* border-bottom: 3px solid #1877f2;  */
}

.navfeed:hover {
  background-color: #eee;
  border-radius: 10px;
}

.navfriends{
  flex: 1;
  padding: 5px;
}

.navfriends:hover {
  background-color: #eee;
  border-radius: 10px;
}

.NavbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbarUser {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 5px;
}

.navbarUser:hover {
  background-color: #eee;
  border-radius: 20px;
  cursor: pointer;
}

.navbarUserAvatar {
  height: 26px;
  width: 26px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px #eee solid;
}

.navbarUsername {
  padding-right: 10px;
}

.navbarIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}

.navbarIconItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 8px;
}

.navbarIconBadge {
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: red;
  color: white;
  border-radius: 50%;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
